<div class="container">
   <h2 class="text-center">Your next trip?</h2>
   <div class="cards">
    <div class="card col-xs-12 col-sm-6 col-md-3" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),url('images/card-paris.jpg');">
      <img src="images/seb.jpg" alt="" class="card-avatar">
      <span class="card-category">Paris</span>
      <div class="card-desc">
        <h3>Seb´s home</h3>
        <h5>Charming room with patio</h5>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-3" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),url('images/card-brussels.jpeg');">
      <img src="images/anne.jpg" alt="" class="card-avatar">
      <span class="card-category">Brussels</span>
      <div class="card-desc">
        <h3>Anne`s home</h3>
        <h5>Charming room in Brussels</h5>
      </div>
    </div>
    <div class="card col-xs-12 col-sm-6 col-md-3" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)),url('images/card-london.jpeg')">
      <img src="images/romain.jpeg" alt="" class="card-avatar">
      <span class="card-category">RIO</span>
      <div class="card-desc">
        <h3>Romains`s home</h3>
        <h5>Charming room in London</h5>
      </div>
    </div>
  </div>
</div>
</div>
